<%= form_with(model: [@quiz, question], class: "contents") do |form| %>
  <%= render 'shared/errors', object: question %>

  <div class="flex flex-col gap-5 lg:w-1/2 my-5">
    <div class="flex flex-col gap-1">
      <%= form.label :content, 'Question' %>
      <%= form.text_area :content, rows: 4, class: "border border-gray-200 outline-none px-3 py-2 bg-transparent w-full", required: true %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :era %>
      <%= form.select :era, Question.eras_options, {}, class: "border border-gray-200 outline-none px-3 py-2 bg-transparent w-full" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :points %>
      <%= form.number_field :points, class: "border border-gray-200 outline-none px-3 py-2 bg-transparent w-full" %>
    </div>

    <div class="flex lg:gap-10 gap-5">
      <div class="flex items-center gap-2">
        <%= form.check_box :include_album_and_song, class: "h-8 w-8" %>
        <%= form.label :include_album_and_song %>
      </div>

      <div class="flex items-center gap-2">
        <%= form.check_box :include_mashup, class: "h-8 w-8" %>
        <%= form.label :include_mashup %>
      </div>
    </div>

  </div>

  <div class="inline">
    <%= form.submit class: "rounded py-2 px-4 bg-black text-white  font-medium cursor-pointer" %>
  </div>
<% end %>
