<div class="grid xl:grid-cols-8 lg:grid-cols-6 grid-cols-4 gap-4 mt-5">
  <% @questions.each do |question| %>
    <% if question %>
      <% tour = question.quiz.tour %>

      <% if question.include_album_and_song? %>
        <% mashup_answers = tour.correct_mashups %>
        <% if mashup_answers.present? %>
          <div class="flex flex-col gap-1">
            <p class="text-sm uppercase font-medium mb-1"><%= tour.title %></p>
            <% mashup_answers.each do |mashup| %>
              <p class="text-sm capitalize <%= album_color(mashup.album.abbr) %>"><%= mashup.album.abbr %> - <%= mashup.song.title %></p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <% choice = question.choices.find_by(correct: true) %>
        <% if choice %>
          <div class="flex flex-col gap-3">
            <% latest_choice = Choice.where(outfit_codename: choice.outfit_codename).order(created_at: :desc).first %>
            <% if latest_choice&.image&.attached? %>
              <%= image_tag(latest_choice.image, alt: latest_choice.content, class: 'w-full h-72 object-cover object-center rounded') %>
            <% end %>
            <div class="flex flex-col gap-1">
              <p class="text-xs capitalize font-semibold"><%= choice.content %></p>
              <p class="text-xs capitalize font-medium"><%= tour.title %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
