<div class="min-h-screen">
  <div class="p-5 py-5">
    <%= render 'components/breadcrumb', breadcrumbs: [
      {text: 'home', path: root_path},
      {text: "#{@quiz.title}", path: quiz_path(@quiz)},
      {text: "Questions", path: quiz_questions_path(@quiz)},
      {text: "#{@question.content}", path: quiz_question_path(@quiz, @question)},
    ] %>
  </div>

  <div class="pt-5">
    <h1 class="<%= era_color(@question.era) %> font-bold uppercase text-lg py-2 px-10 flex justify-between items-center">
      <%= @question.content %>
      <%= render 'components/dropdown',title: "", icon_class:"fa-solid fa-ellipsis", items: question_dropdown_items(@question) %>
    </h1>
    <div class="grid lg:grid-cols-6 gap-4 px-5 py-3">
      <% @question.choices.includes(image_attachment: :blob).order(:position).each_with_index do |choice, index| %>
        <div class="choice py-3 flex flex-col gap-4 font-medium">
        <%= image_tag(choice.image, alt: "Option #{index + 1}", class: 'w-full lg:h-72 object-cover object-center rounded') if choice.image.attached? %>
        <div class="flex justify-between items-center capitalize">
          <% if choice.correct %>
            <i class="fa-solid fa-circle-check text-green-600"></i>
          <% end %>
          <%= choice.content %>
          <% if current_user.admin? %>
            <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: choice_dropdown_items(choice) %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>