<div class="flex md:flex-row flex-col justify-between md:items-center mt-10 gap-6">
  <%= render 'leaderboard_tour_navigator' %>
  <%= render 'components/drawer', button_icon: 'fa-solid fa-plus', button_text: 'Add Friends', title: '', id: 'invite_friends', button_class: 'rounded py-2 px-4 dark:bg-black bg-gray-200 font-medium capitalize flex gap-2 items-center'  do %>
    <%= render 'invite' %>
   <% end %>
</div>

<% if params[:tab] == 'user' %>
  <div class="flex flex-col mt-16 lg:px-20 text-sm">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="dark:bg-black/10 bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200 relative">
      <% unless @paginated_user_attempts.empty? %>
          <% @paginated_user_attempts.each_with_index do |a, index| %>
            <% attempt = Attempt.find(a['id']) %>
            <tr data-controller="confetti"  data-attempt-position = "<%= attempt.final_position %>" data-quiz-status="<%= attempt.quiz.tour.status %>" data-size="mini" id="targetRow">
              <canvas id="leaderboardConfetti" class="absolute h-[62px] lg:w-3/4 w-11/12 lg:top-[31em] top-[34em]" data-confetti-target="canvas"></canvas>
              <td class="px-6 py-4 whitespace-nowrap text-sm">
                <span class="font-bold">
                <% if attempt.quiz.tour.status == 'open' %>
                    <%= index + 1 %>
                <% elsif attempt.quiz.tour.status == 'closed' %>
                    <%= attempt.final_position %>
                <% else %>
                  <% page = params[:page].present? ? params[:page].to_i : 1 %>
                  <% position = ((page - 1) * @pagination) + (index + 1) %>
                  <%= position %>.
                <% end %>
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm lowercase flex items-center gap-3">
                <% path = params[:tab] == 'general' ? user_path(attempt.user) : attempt_path(attempt) %>

                <%= link_to path, class: "flex items-center gap-3 hover:underline w-full" do %>
                  <span class="<%= current_user.id == attempt.user.id ? 'font-semibold' : '' %>">@<%= attempt.user.username %></span>
                  <% if attempt.quiz.tour.closed? %>
                    <% if attempt.final_position <= 3 %>
                      <%= image_tag attempt_badge(attempt.final_position), class: attempt_badge_class(attempt.final_position) %>
                    <% end %>
                  <% end %>
                <% end %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm">
              <% if @tour.status == 'closed' %>
                <span class="<%= current_user.id == attempt.user.id ? 'font-semibold' : '' %>"><%= attempt.final_score %></span>
              <% elsif @tour.status == 'live' %>
                  <span class="<%= current_user.id == attempt.user.id ? 'font-semibold' : '' %>"><%= attempt.score %></span>
                <% else %>
                  <i class="fa-solid fa-spinner text-gray-600" title="in progress"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>

        <% @users_without_attempts.each do |user| %>
            <tr class="text-gray-400">
              <td class="px-6 py-4 whitespace-nowrap text-sm">•</td>
              <td class="px-6 py-4 whitespace-nowrap text-sm lowercase <%= current_user.id == user.id ? 'font-semibold' : '' %>">
                  @<%= user.username %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm">•</td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>

  <div class="flex justify-end mt-3 overflow-x-scroll">
    <%= will_paginate @paginated_user_attempts %>
  </div>
<% end %>

