<div class="min-h-screen">
  
  <div class="p-5">
    <%= render 'components/breadcrumb', breadcrumbs: [
      {text: 'home', path: root_path},
      {text: "#{@tour.title} quiz"}
    ] %>
  </div>

  <div class="flex justify-between items-center px-5">
    <h5 class="font-semibold font-courier uppercase text-md "><%= @quiz.title %> </h5>
  </div>

  <% @quiz.questions.order(:era).all.order(:position).group_by(&:era).each do |era, questions| %>
    <div class="mt-10">
      <h1 class="<%= era_color(era) %> font-bold uppercase text-lg p-2 flex justify-center items-center"><%= era.humanize %></h1>
      <div class="grid lg:grid-cols-3">
        <% questions.each_with_index do |question, index| %>
          <div class="flex flex-col px-5 py-3 ">
            <div class="flex justify-between capitalize">
              <p class="flex gap-7">
              <span><%= (index + 1).to_s.rjust(2, '0') %>.</span>
              <span><%= question.content %> (worth <%= question.points %> points)</span>
              </p>
            </div>
          <div class="flex flex-col lg:justify-start justify-center px-5 py-3 gap-2 capitalize">
            <% correct_choices = question.choices.order(:position).where(correct: true) %>
            <% if correct_choices.any? %>
              <% correct_choices.each_with_index do |choice, index| %>
                <div class="choice py-3 flex flex-col gap-4 font-medium">
                  <%= image_tag(choice.image, alt: "Option #{index + 1}", class: 'w-full h-72 object-cover object-center rounded') if choice.image.attached? %>
                  <div class="flex justify-between items-center capitalize relative">
                    <%= choice.content %>
                  </div>
                </div>
              <% end %>
            <% else %>
              <% unless question.include_album_and_song %>
                <p class="<%= era_color(era) %> rounded flex justify-center items-center p-3 mt-5">To be determined</p>
              <% end %>
            <% end %>

            <% if question.include_album_and_song %>
              <% correct_mashup_found = false %>
              <% question&.mashup_answers.order(:created_at).where(response_id: nil).each do |mashup| %>
                <% if mashup.correct %>
                  <% correct_mashup_found = true %>
                  <div class="flex justify-between">
                    <p class="flex gap-2 items-center font-medium capitalize">
                      <%= mashup.album.abbr %> - <%= mashup.song.title %>
                    </p>
                  </div>
                <% end %>
              <% end %>
              <% if !correct_mashup_found %>
                <p class="<%= era_color(era) %> rounded flex justify-center items-center p-3 mt-5">To be determined</p>
              <% end %>
            <% end %>


          </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
