<div class="min-h-screen">

  <div class="p-5">
    <%= render 'components/breadcrumb', breadcrumbs: [
      {text: 'home', path: root_path},
      {text: "#{@tour.title} quiz"}
    ] %>
  </div>

  <div class="flex justify-between items-center px-5">
    <h5 class="font-semibold font-courier uppercase text-md "><%= @quiz.title %> (You did not take this quiz) </h5>
  </div>

  <% @questions_by_era.each do |era, questions| %>
    <div class="mt-10">
      <h1 class="<%= era_color(era) %> font-bold uppercase text-lg p-2 flex justify-center items-center"><%= era.humanize %></h1>
      <div class="grid lg:grid-cols-3">
        <% questions.each_with_index do |question, index| %>
          <div class="flex flex-col px-5 py-3 ">
            <div class="flex justify-between capitalize">
              <p class="flex gap-7">
                <span><%= (index + 1).to_s.rjust(2, '0') %>.</span>
                <span><%= question.content %> (worth <%= question.points %> points)</span>
              </p>
            </div>
          <div class="flex flex-col lg:justify-start justify-center px-5 py-3 gap-2 capitalize">
              <% question.choices.order(:position).where(correct: true).each_with_index do |choice, index| %>
              <div class="choice py-3 flex flex-col gap-4 font-medium">
                <%= image_tag(choice.image, alt: "Option #{index + 1}", class: 'w-full lg:h-72 object-cover object-center rounded') if choice.image.attached? %>
                <div class="flex justify-between items-center capitalize relative">
                  <%= choice.content %>
                </div>
              </div>
            <% end %>

            <% if question.include_album_and_song %>
              <% question&.mashup_answers.includes([:album, :song]).order(:created_at).where(response_id: nil).each do |mashup| %>
                <% if mashup.correct %>
                  <div class="flex justify-between">
                    <p class="flex gap-2 items-center font-medium capitalize">
                      <%= mashup.album.abbr %> - <%= mashup.song.title %>
                    </p>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
