<div class="min-h-screen">
  <div class="p-5">
    <%= render 'components/breadcrumb', breadcrumbs: [
      {text: 'home', path: root_path},
      {text: "#{@tour.title}", path: tour_path(@tour)},
      {text: "#{@tour.title} quiz", path: quiz_path(@tour.quiz)}
    ] %>
  </div>

  <div class="flex justify-between items-center px-5">
    <h5 class="font-semibold font-courier uppercase text-md "><%= @quiz.title %> </h5>
    <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: quiz_dropdown_items(@quiz) %>
  </div>

  <% @quiz.questions.order(:era).all.order(:position).group_by(&:era).each do |era, questions| %>
    <div class="mt-10">
      <h1 class="<%= era_color(era) %> font-bold uppercase text-lg p-2 flex justify-center items-center"><%= era.humanize %></h1>
      <% questions.each_with_index do |question, index| %>
        <div class="flex flex-col px-5 py-3 ">
          <div class="flex justify-between capitalize font-medium">
            <p class="flex gap-7">
            <span><%= (index + 1).to_s.rjust(2, '0') %>.</span>
            <span><%= question.content %> (worth <%= question.points %> points)</span>
            </p>
            <% if current_user.admin? %>
              <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: question_dropdown_items(question) %>
          <% end %>
          </div>
         <div class="grid <%= question&.choices&.first&.image&.attached? ? 'lg:grid-cols-6 grid-cols-2' : 'grid-cols-1' %> gap-4">
           <% question.choices.includes([:responses, image_attachment: :blob]).order(:position).each_with_index do |choice, index| %>
            <div class="choice py-3 flex flex-col gap-4 relative">
              <% if choice.image.attached? %>
                <%= image_tag(choice.image, alt: "Option #{index + 1}", class: 'w-full h-72 object-cover object-center rounded')%>
                <% if choice.new_item == false && choice.label != 'no_label' %>
                  <div class="label-tag absolute px-4 py-1 rounded text-xs -top-0 -right-1 rotate-360 <%= label_color (choice.label)%>">
                    <span class="font-medium"><%= choice.label.humanize %></span>
                  </div>
                <% end %>
              <% end %>

              <div class="flex justify-between items-center capitalize relative">
                <% if choice.correct %>
                  <i class="fa-solid fa-circle-check text-green-600 absolute -top-3"></i>
                <% end %>
                <%= choice.content %>
                <% if current_user.admin? %>
                  <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: choice_dropdown_items(choice) %>
                <% end %>
              </div>

              <span class="text-xs leading-none text-center"><%= choice.percentage_of_total_responses %>%</span>
              <div class="w-full bg-gray-200 dark:bg-gray-800 h-2 overflow-hidden -mt-4 text-center">
                <div class="<%= era_color(era) %> h-full text-center"  style="width: <%= choice.percentage_of_total_responses %>%;">
                </div>
              </div>

            </div>
           <% end %>

           <% if question.include_album_and_song %>
             <% question&.mashup_answers.includes([:album, :song]).order(:created_at).where(response_id: nil).each do |mashup| %>
               <% if mashup.correct %>
               <div class="flex justify-between">
                <p class="flex gap-2 items-center font-medium capitalize">
                  <i class="fa-solid fa-circle-check text-green-600"></i> <%= mashup.album.abbr %> - <%= mashup.song.title %>
                </p>
                <% if current_user.admin? %>
                  <div class="flex items-center gap-1">
                    <%= link_to edit_mashup_answer_path(mashup) do %>
                      <i class="fa-solid fa-pencil px-4" title="edit mashup"></i>
                    <% end %>
                    <%= button_to mashup_answer_path(mashup), method: :delete, data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" } do %>
                      <i class="fa-solid fa-trash" title="delete mashup"></i>
                    <% end %>
                  </div>
                <% end %>
               </div>
               <% end %>
             <% end %>
           <% end %>

         </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
