<div class="min-h-screen">

  <div class="flex justify-between items-center p-5">
    <h5 class="font-semibold font-courier uppercase text-md "><%= @quiz.title %> </h5>
    <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: quiz_dropdown_items(@quiz) %>
  </div>

  <% @quiz.questions.all.group_by(&:era).each do |era, questions| %>
    <div class="mt-10">
      <h1 class="<%= era_color(era) %> font-bold uppercase text-lg p-2 flex justify-center items-center"><%= era %></h1>
      <% questions.each_with_index do |question, index| %>
        <div class="flex flex-col px-5 py-3 ">
          <div class="flex justify-between">
            <p class="flex gap-7">
            <span><%= (index + 1).to_s.rjust(2, '0') %>.</span>
            <span><%= question.content %> (worth <%= question.points %> points)</span>
            </p>
            <% if current_user.admin? %>
              <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: question_dropdown_items(question) %>
          <% end %>
          </div>
         <div class="grid lg:grid-cols-6 gap-4">
           <% question.choices.each_with_index do |choice, index| %>
            <div class="choice py-3 flex flex-col gap-4 font-medium">
              <%= image_tag(choice.image, alt: "Option #{index + 1}", class: 'w-full h-72 object-cover object-center rounded') if choice.image.attached? %>
              <div class="flex gap-2 items-center capitalize">
                <%= choice.content %>
              </div>
            </div>
            <% end %>
         </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
