<div class="min-h-screen">
  <h5 class="font-semibold font-courier uppercase text-md p-5"><%= @quiz.title %> </h5>

  <%= form_with(url: submit_quiz_path(@quiz.id), method: :post, local: true) do |f| %>
    <% @quiz.questions.all.group_by(&:era).each do |era, questions| %>
      <div class="mt-10">
        <h1 class="<%= era_color(era) %> font-bold uppercase text-lg p-2 flex justify-center items-center"><%= era.humanize %></h1>
        <% questions.each_with_index do |question, index| %>
          <div class="flex flex-col px-5 py-3 ">
          <%= (index + 1).to_s.rjust(2, '0') %>. <%= question.content %> (worth <%= question.points %> points)
          <div class="grid lg:grid-cols-6 gap-4">
            <% question.choices.order(:created_at).each_with_index do |choice, index| %>
              <div class="choice py-3 flex flex-col gap-4">
                <%= image_tag(choice.image, alt: "Option #{index + 1}", class: 'w-full h-72 object-cover object-center rounded') if choice.image.attached? %>
                <div class="flex gap-2 items-center capitalize font-medium">
                  <%= f.radio_button "selected_options[#{question.id}]", choice.id, required: true %>
                  <%= choice.content %>
                </div>
              </div>
              <% end %>
              <% if question.include_album %>
                <%= f.select :album, options_for_select(@albums), {}, class: "capitalize", required: true %>
              <% end %>
          </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="mt-10 flex justify-center">
      <%= f.submit "Submit Predictions", class: "bg-black text-white font-bold py-2 px-4 rounded w-3/4 mb-4 hover:bg-gray-900 cursor-pointer" %>
    </div>
  <% end %>
</div>