<div id="<%= dom_id choice %>">
   <% if choice.image.attached? %>
     <%= image_tag choice.image, class: 'w-full h-72 object-cover' %>
   <% end %>

    <p class="my-5">
      <%= choice.content %>
    </p>

  <% if action_name != "show" %>
    <%= link_to "Show this choice", quiz_question_choice_path(@quiz, @question, choice), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this choice", edit_quiz_question_choice_path(@quiz, @question, choice), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
