<%= form_with(model: [@quiz, @question, choice], class: "contents") do |form| %>
  <%= render 'shared/errors', object: choice %>

  <div class="flex flex-col gap-5 lg:w-1/2 my-5">

    <div class="flex flex-col gap-1">
      <%= form.label :image %>
      <%= form.file_field :image, class: "border border-gray-200 outline-none px-3 py-2 bg-transparent w-full" %>
    </div>

    <div class="flex flex-col gap-1">
      <%= form.label :content %>
      <%= form.text_field :content, class: "border border-gray-200 outline-none px-3 py-2 bg-transparent w-full", required: true %>
    </div>

    <div class="flex items-center gap-2">
      <%= form.check_box :correct, class: "h-8 w-8" %>
      <%= form.label :correct %>
    </div>

    <div class="flex items-center gap-2">
      <%= form.check_box :new_item, class: "h-8 w-8" %>
      <%= form.label :new_item %>
    </div>

    <div class="flex gap-5">
      <%= form.submit class: "rounded py-2 px-4 bg-black/95 bg-gray-200 dark:bg-black font-medium cursor-pointer" %>
      <% if action_name == 'new' %>
        <%= form.submit 'Create Choice & Add Another', class: "rounded py-2 px-4 border border-gray-200 dark:border-black font-medium cursor-pointer hover:bg-gray-200" %>
      <% end %>
    </div>

  </div>
<% end %>
