<% @labels.each do |label| %>
  <h1 class="<%= label_color(label) %> font-bold uppercase lg:text-lg text-sm p-2 flex justify-center items-center">
    <%= label.humanize %> -
    <% if label != 'retired' %>
      <span class="ml-1">Missing for <%= label_description(label) %>+ shows </span>
    <% else %>
      <span class="ml-1"><%= label_description(label) %></span>
    <% end %>
  </h1>

  <div class="flex flex-col  px-5 py-3 capitalize font-medium ">
    <div class="grid md:grid-cols-6 grid-cols-2 gap-4">
    <% Choice.select('DISTINCT ON (content) *').includes([image_attachment: :blob]).with_label(label).each do |choice| %>
        <div class="py-3 flex flex-col gap-4 relative">
        <% if choice.image.attached? %>
            <%= image_tag(choice.image, alt: choice.content, class: 'w-full h-72 object-cover object-center rounded')%>
          <% end %>
          <%= choice.content %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>