<div class="pt-10 lg:px-12 px-5 min-h-screen flex flex-col">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: "users" },
  ]
  %>

  <div class="flex justify-between items-center">
    <h5 class="font-semibold font-courier uppercase text-md ">confirmed users (<%= @confirmed_users.size %>) </h5>
  </div>

  <%= render 'table', users: @confirmed_users %>

  <hr />

  <div class="flex justify-between items-center mt-10">
    <h5 class="font-semibold font-courier uppercase text-md ">unconfirmed users (<%= @unconfirmed_users.size %>) </h5>
  </div>
  <%= render 'table', users: @unconfirmed_users %>
</div>