<div class="pt-10 lg:px-12 px-5 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'quizzes', path: root_path },
    { text: "users" },
  ]
  %>

  <div class="flex justify-between items-center">
    <h5 class="font-semibold font-courier uppercase text-md ">users (<%= @users.size %>) </h5>
  </div>

  <div class="flex flex-col mt-10">
    <table class="min-w-full divide-y divide-gray-200 overflow-x-scroll">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            #
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            name
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            username
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            country
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            timezone
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @users.each_with_index do |user, index| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm">
            <%= (index + 1).to_s.rjust(2, '0') %>.
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm capitalize">
            <%= user.name %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm lowercase">
            @<%= user.username %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm capitalize">
            <%= user.country %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm capitalize">
            <%= user.timezone %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <div>
</div>