<div class="pt-10 lg:px-12 px-5 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: "Leaderboard" },
  ]
  %>

  <div class="flex justify-center items-center lg:gap-5 gap-2 ">
    <% if @previous_tour %>
      <%= link_to  leaderboard_path(tour: @previous_tour), class: "font-semibold font-courier uppercase text-md border-2 border-black bg-black/95 dark:bg-gray-50 text-white dark:text-black py-2 rounded px-5" do %>
        <i class="fa-solid fa-circle-arrow-left"></i>
      <% end %>
    <% end %>

    <h5 class="font-semibold font-courier uppercase text-md border-2 border-black dark:border-gray-100 dark:border-gray-100 py-2 rounded lg:px-5 px-3"><%= @tour.title %> </h5>

    <% if @next_tour %>
      <%= link_to leaderboard_path(tour: @next_tour), class: "font-semibold font-courier uppercase text-md border-2 border-black dark:border-gray-100 py-2 bg-black/95 dark:bg-gray-50 text-white dark:text-black  rounded px-5" do %>
        <i class="fa-solid fa-circle-arrow-right"></i>
      <% end %>
    <% end %>

  </div>

  <% unless @attempts.blank? %>
    <div class="flex flex-col mt-16 lg:px-20 text-sm">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="dark:bg-black/10 bg-gray-50">
          <tr>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            </th>
            <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            </th>
          </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 relative">
          <% @attempts.each_with_index do |attempt, index| %>
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm">
                <span class="font-bold">
                  <% if attempt.quiz.tour.status == 'closed' && attempt.position <= 3 %>
                    <%= image_tag attempt_badge(attempt.position), class: attempt_badge_class(attempt.position) %>
                  <% else %>
                    <%= (index + 1) %>.
                  <% end %>
                </span>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm lowercase">
                <%= link_to user_path(attempt.user), class: "flex items-center gap-6 hover:underline w-full" do %>
                  <span class="<%= current_user.id == attempt.user.id ? 'font-semibold' : '' %>">@<%= attempt.user.username %></span>
                <% end %>
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm">
                <% if @tour.status == 'closed' || @tour.status == 'live' %>
                  <span class="<%= current_user.id == attempt.user.id ? 'font-semibold' : '' %>"><%= attempt.score %></span>
                <% else %>
                  <i class="fa-solid fa-spinner text-gray-600" title="in progress"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="flex justify-center items-center mt-20">
      No stats yet.
    </div>
  <% end %>

</div>