<% statistics = [
  {
    title: 'played',
    value: @attempts.size
  },
  {
    title: 'current streak',
    value: @current_streak
  },
  {
    title: 'max streak',
    value: @max_streak
  },
  {
    title: 'lifetime points',
    value: @lifetime_points
  },
  {
    title: 'average score',
    value: @average_score
  },
  {
    title: 'best score',
    value: @best_score
  }
] %>


<div class="pt-10 lg:px-12 px-5 min-h-screen flex flex-col gap-5">

  <% breadcrumbs = [
    { text: 'home', path: root_path },
  ] %>

  <% if current_user.admin? %>
    <% breadcrumbs << { text: 'Users', path: users_path} %>
    <% breadcrumbs << { text: "#{@user.username}'s Stats"} %>
  <% else %>
    <% breadcrumbs << { text: 'My Stats'} %>
  <% end %>

  <%= render 'components/breadcrumb', breadcrumbs: breadcrumbs %>

  <div class="flex flex-col">
    <h5 class="uppercase font-bold flex items-center gap-3">
      <i class="fa-solid fa-chart-simple"></i>
      statistics
    </h5>
    <hr class="my-1" />
    <div class="grid md:grid-cols-6 grid-cols-2 gap-x-3 gap-y-4 lg:mt-10 mt-4">
      <% statistics.each do |stat| %>
        <div class="flex flex-col gap-2 items-center dark:bg-black bg-gray-100 py-5 rounded shadow-md">
          <p class="md:text-7xl text-5xl font-bold"><%= stat[:value] %></p>
          <p class="lg:text-sm text-xs uppercase"><%= stat[:title] %></p>
        </div>
      <% end %>
    </div>
  </div>

 <% unless @responses.empty? %>
    <div class="flex flex-col lg:mt-20 mt-5 capitalize overflow-x-scroll">
      <div class="flex lg:flex-row flex-col justify-between">
        <h5 class="uppercase font-bold flex items-center gap-3">
          <i class="fa-solid fa-chart-pie"></i>
            prediction stats by era (%)
        </h5>
        <div class="mt-4 mb-2 flex lg:flex-row flex-col lg:items-center lg:text-base text-sm">
          <% path = current_user.admin? ? stats_path(@user) : stats_path %>
          <%= form_tag(path , method: 'get', class: 'flex lg:flex-row flex-col lg:items-center gap-2', id: 'chartForm') do %>
            <%= select_tag 'chart_type', options_for_select(chart_types.map { |chart| [chart.humanize, chart] }, @chart_type), class: 'w-40 h-10 capitalize lg:text-base text-sm dark:bg-black bg-gray-50', id: 'chartTypeSelect'  %>
          <% end %>
        </div>
      </div>
      <hr class="my-1" />
      <%= render_chart @questions_predictions_by_era_data, 'Eras', 'No data', 'eras'   %>
    </div>

    <div class="flex flex-col lg:mt-20 mt-5 capitalize overflow-x-scroll">
      <h5 class="uppercase font-bold flex items-center gap-3">
        <i class="fa-solid fa-chart-pie"></i>
          prediction stats by question (%)
      </h5>
      <hr class="my-1" />
      <%= render_chart @questions_predictions_data, 'Questions', 'No data', 'questions'  %>
    </div>

    <div class="flex flex-col lg:mt-20 mt-5 capitalize">
      <div class="flex lg:flex-row flex-col justify-between">
        <h5 class="uppercase font-bold flex items-center gap-3">
            <i class="fa-solid fa-table"></i>
            question vs  show comparison
        </h5>
      </div>
      <hr class="my-1" />
      <%= render 'question_show_table' %>
    </div>


  <% end %>
</div>

<script>
  document.getElementById('chartTypeSelect').addEventListener('change', function() {
    document.getElementById('chartForm').submit();
  });
</script>