<div class="pt-10 px-12 min-h-screen flex flex-col gap-5">

  <% breadcrumbs = [
    { text: 'home', path: root_path },
  ] %>

  <% if current_user.admin? %>
    <% breadcrumbs << { text: 'Users', path: users_path} %>
    <% breadcrumbs << { text: "#{@user.username}'s Stats"} %>
  <% else %>
    <% breadcrumbs << { text: 'My Stats'} %>
  <% end %>

  <%= render 'components/breadcrumb', breadcrumbs: breadcrumbs %>

  <div class="flex flex-col">
    <h5 class="uppercase font-bold flex gap-3">
      <i class="fa-solid fa-chart-simple"></i>
      statistics
    </h5>
    <hr class="my-1" />
    <div class="grid md:grid-cols-6 grid-cols-2 gap-x-3 gap-y-4 lg:mt-10 mt-4">
      <div class="flex flex-col gap-2 items-center bg-gray-100 py-5 rounded shadow-md">
        <p class="md:text-7xl text-6xl font-bold"><%= @attempts.size %></p>
        <p class="lg:text-sm text-xs uppercase">played</p>
      </div>

      <div class="flex flex-col gap-2 items-center bg-gray-100 py-5 rounded shadow-md">
        <p class="md:text-7xl text-6xl font-bold"><%= @current_streak %></p>
        <p class="lg:text-sm text-xs uppercase">current streak</p>
      </div>

      <div class="flex flex-col gap-2 items-center bg-gray-100 py-5 rounded shadow-md">
        <p class="md:text-7xl text-6xl font-bold"><%= @max_streak %></p>
        <p class="lg:text-sm text-xs uppercase">max streak</p>
      </div>

      <div class="flex flex-col gap-2 items-center bg-gray-100 py-5 rounded shadow-md">
        <p class="md:text-7xl text-6xl font-bold"><%= @lifetime_points %></p>
        <p class="lg:text-sm text-xs uppercase">lifetime points</p>
      </div>

      <div class="flex flex-col gap-2 items-center bg-gray-100 py-5 rounded shadow-md">
        <p class="md:text-7xl text-6xl font-bold"><%= @average_score %></p>
        <p class="lg:text-sm text-xs uppercase">average score</p>
      </div>

      <div class="flex flex-col gap-2 items-center bg-gray-100 py-5 rounded shadow-md">
        <p class="md:text-7xl text-6xl font-bold"><%= @best_score %></p>
        <p class="lg:text-sm text-xs uppercase">best score</p>
      </div>

    </div>
  </div>

 <% unless @responses.empty? %>
    <div class="flex flex-col lg:mt-20 mt-5 capitalize">
      <h5 class="uppercase font-bold flex gap-3">
        <i class="fa-solid fa-chart-pie"></i>
          prediction stats by era (%)
      </h5>
      <hr class="my-1" />
      <%= bar_chart @questions_predictions_by_era_data, height: '500px', colors: eras_bar_chart_colors   %>
    </div>

    <div class="flex flex-col lg:mt-20 mt-5 capitalize">
      <h5 class="uppercase font-bold flex gap-3">
        <i class="fa-solid fa-chart-pie"></i>
          prediction stats by question (%)
      </h5>
      <hr class="my-1" />
      <%= bar_chart @questions_predictions_data, height: '1000px', colors: questions_bar_chart_colors  %>
    </div>
  <% end %>
</div>