<div class="flex justify-between items-center mt-10 mb-10 text-xs sm:text-base">
  <h1 class="font-semibold text-xl font-courier"></h1>
    <div class="flex gap-2 items-center">
      <% if current_user.admin? %>
        <%= link_to new_tour_path, class: "rounded py-2 px-4 dark:bg-black bg-gray-200  font-medium capitalize flex gap-2 items-center font-courier" do %>
          <i class="fa-solid fa-plus"></i>
          new
        <% end %>
      <% end %>
      <%= link_to leaderboard_path, class: "rounded py-2 px-4 dark:bg-black bg-gray-200  font-medium capitalize flex gap-2 items-center font-courier lg:dark:hover:bg-gray-900 lg:hover:bg-gray-100" do %>
          <i class="fa-solid fa-chess-board"></i>
        leaderboard
      <% end %>
    </div>
</div>

<div id="tours" class="min-w-full mt-10 text-xs sm:text-base">
  <% @tours.each_with_index do |tour, index| %>
    <div class="flex justify-between font-courier py-4 px-2 <%= tour.status == 'cancelled' ? 'bg-red-500 text-white' : '' %>">
      <% if current_user.admin? %>
        <%= link_to tour_path(tour), class:"flex lg:flex-row flex-col gap-2" do %>
          <span class="font-semibold uppercase flex gap-2 items-center hover:underline" title="<%= tour&.start_time&.strftime("%A %d %B %Y %H:%M") %>">
            <%= (tour.number).to_s.rjust(2, '0') %>.
            <%= tour.title %>
            <% if tour.status == 'open' %>
              <i class="fa-solid fa-circle-check text-orange-500" title="open"></i>
            <% elsif tour.status == 'pending' %>
              <i class="fa-solid fa-spinner text-gray-600" title="pending"></i>
            <% elsif tour.status == 'live' %>
              <i class="fa-solid fa-bullseye text-green-600 animate-ping"></i>
            <% elsif tour.status == 'closed' %>
              <i class="fa-solid fa-circle-xmark text-red-600" title="closed"></i>
            <% elsif tour.status == 'cancelled' %>
              <i class="fa-solid fa-calendar-xmark" title="closed"></i>
            <% end %>
            <span>
             (<%= tour.attempts.size %>)
            </span>
          </span>
        <% end %>
      <% else %>
        <div class="flex flex-col gap-2">
          <p class="flex lg:flex-row flex-col gap-2 ">
            <span class="font-semibold uppercase flex gap-2 items-center"  title="<%= tour&.start_time&.strftime("%A %d %B %Y %H:%M") %>">
              <%= (tour.number).to_s.rjust(2, '0') %>. <%= tour.title %>
              <% if tour.status == 'open' %>
                <i class="fa-solid fa-circle-check text-orange-500" title="open"></i>
              <% elsif tour.status == 'pending' %>
                <i class="fa-solid fa-spinner text-gray-600" title="pending"></i>
              <% elsif tour.status == 'live' %>
                <i class="fa-solid fa-bullseye text-green-600 animate-ping"></i>
              <% elsif tour.status == 'closed' %>
                <i class="fa-solid fa-circle-xmark text-red-600" title="closed"></i>
              <% elsif tour.status == 'cancelled' %>
                <i class="fa-solid fa-calendar-xmark" title="closed"></i>
              <% end %>
            </span>
          </p>
        </div>
      <% end %>
      <% if current_user.admin? %>
        <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: quiz_dropdown_items(tour.quiz) %>
      <% else %>
        <% if tour.status == 'pending' %>
          <i class="fa-solid fa-spinner text-gray-600" title="pending"></i>
        <% elsif tour.status == 'open' %>
          <% if  current_user.has_attempted_quiz?(tour.quiz) %>
            <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: attempt_dropdown_items(tour.quiz) %>
          <% else %>
            <%= link_to take_quiz_path(tour.quiz), class:"bg-gray-200 dark:bg-black  px-4 py-2 rounded flex items-center gap-2 dark:hover:bg-gray-900 hover:bg-gray-100" do %>
              <i class="fa-solid fa-wand-magic-sparkles" title="predict"></i>
              <span>predict</span>
            <% end %>
          <% end %>
        <% elsif tour.status == 'closed' || tour.status == 'live' || tour.status == 'cancelled' %>
          <% if  current_user.has_attempted_quiz?(tour.quiz) %>
            <% attempt = current_user.attempts.find_by(quiz_id: tour.quiz.id) %>
            <%= link_to attempt_path(attempt), class: 'bg-gray-200 dark:bg-black px-2 py-2 dark:hover:bg-gray-900 hover:bg-gray-100 rounded flex items-center gap-2' do %>
              <i class="fa-solid fa-square-poll-vertical" title="<%= tour.status == 'live' ? 'view progress' : tour.status == 'closed' ? 'view results' : '' %>"></i>
              <span class="lg:flex hidden">
               <%= tour.status == 'live' ? 'view progress' : tour.status == 'closed' ? 'view results' : tour.status == 'cancelled' ? 'view predictions' : '' %>
              </span>
              <span class="lg:hidden flex">
                <%= tour.status == 'live' ? 'progress' : tour.status == 'closed' ? 'results' : '' %>
              </span>
            <% end %>
          <% else %>
            <% if tour.status == 'closed' %>
             <%= link_to results_quiz_path(tour.quiz), class: 'bg-gray-200 dark:bg-black px-2 py-2 dark:hover:bg-gray-900 hover:bg-gray-100 rounded flex items-center gap-2' do %>
              <i class="fa-solid fa-square-poll-vertical title="see results"></i>
              <span class="lg:flex hidden">see results </span>
              <span class="lg:hidden flex">results</span>
             <% end %>
            <% elsif tour.status == 'live' %>
              <%= link_to progress_quiz_path(tour.quiz), class: 'bg-gray-200 dark:bg-black px-2 py-2 dark:hover:bg-gray-900 hover:bg-gray-100 rounded flex items-center gap-2' do %>
                <i class="fa-solid fa-square-poll-vertical title="see results"></i>
                <span class="lg:flex hidden">see live progress </span>
                <span class="lg:hidden flex">view</span>
               <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
      <% if tour.status == 'open' %>
        <span class="text-[10px] font-courier">(closes <%= time_user_timezone(tour.quiz_live_time, current_user) %>)</span>
      <% end %>
    <% if index != (@tours.length - 1) %>
      <hr class="border border-black dark:border-gray-100" />
    <% end %>
  <% end %>
</div>

<div class="flex justify-end mt-3 overflow-x-auto">
  <%= will_paginate @tours %>
</div>
