<div class="pt-10 lg:px-12 px-5 min-h-screen">

  <div class="grid lg:grid-cols-4 grid-cols-2 gap-10">
    <%= link_to tours_path, class: "bg-gray-200 shadow-lg p-5 rounded flex lg:flex-row flex-col justify-between items-center"  do %>
      <h5 class="text-xl  font-bold uppercase">Tours</h5>
      <h5 class="text-5xl font-courier font-bold"><%= @quizzes.size %></h5>
    <% end %>

    <%= link_to users_path, class: "bg-gray-200 shadow-lg p-5 rounded flex lg:flex-row flex-col justify-between items-center"  do %>
      <h5 class="text-xl  font-bold uppercase">users</h5>
      <h5 class="text-5xl font-courier font-bold"><%= @users.size %></h5>
    <% end %>
  </div>

  <%= render 'index' %>

</div>
