<div class="pt-10 px-12 min-h-screen">
  <div class="flex justify-between items-center">
    <h1 class="font-semibold text-xl font-courier">Quizzes</h1>
    <% if current_user.admin? %>
      <%= link_to new_tour_path, class: "rounded py-2 px-4 bg-black text-white font-medium capitalize flex gap-2 items-center" do %>
        <i class="fa-solid fa-plus"></i>
        new quiz
      <% end %>
    <% end %>
  </div>

  <div id="tours" class="min-w-full mt-10">
    <% @tours.each_with_index do |tour, index| %>
      <div class="flex justify-between font-courier">
        <p class="flex gap-4">
          <%= tour.number %>. <span class="font-semibold uppercase"><%= tour.title %></span>
        </p>
        <% if current_user.admin? %>
          <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: quiz_dropdown_items(tour.quiz) %>
        <% else %>
          <% if tour.status == 'pending' %>
           <div class="px-4 py-2 bg-gray-200 text-black rounded">
             <i class="fa-solid fa-spinner"></i>
             pending
           </div>
          <% elsif tour.status == 'open' %>
            <% if  current_user.has_attempted_quiz?(tour.quiz) %>
              <%= link_to attempt_path(tour.quiz), class:"bg-black text-white px-4 py-2 rounded" do %>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                edit predictions
              <% end %>
            <% else %>
              <%= button_to attempt_quiz_path(tour.quiz), method: :post, class:"bg-black text-white px-4 py-2 rounded hover:bg-gray-900" do %>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
                predict
              <% end %>
            <% end %>
          <% elsif tour.status == 'closed' %>
            <div class="px-4 py-2 bg-gray-200 text-black rounded">
              <i class="fa-solid fa-xmark"></i>
              closed
            </div>
          <% end %>
        <% end %>
      </div>
      <% if index != (@tours.length - 1) %>
        <hr class="border border-black my-4" />
      <% end %>
    <% end %>
  </div>
</div>
