<div class="pt-10 lg:px-12 px-5 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: "#{@tour.title}" },
  ]
  %>

  <div class="flex justify-between items-center">
    <h5 class="font-semibold font-courier uppercase text-md "><%= @tour.title %> attempts </h5>
    <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: quiz_dropdown_items(@tour.quiz) %>
  </div>

  <div class="flex flex-col mt-10">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="dark:bg-black/10 bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            Rank
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            username
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            score
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @attempts.each_with_index do |attempt, index| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap text-sm">
            <%= (index + 1).to_s.rjust(2, '0') %>.
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm lowercase hover:underline">
            <%= link_to "@#{attempt.user.username}", attempt_path(attempt)  %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm">
             <% if @tour.status == 'closed' || @tour.status == 'live' %>
              <%= attempt.score %>
             <% else %>
              <i class="fa-solid fa-spinner text-gray-600" title="in progress"></i>
             <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <div>
</div>