<div class="pt-10 px-12 min-h-screen">
  <div class="flex justify-between items-center">
    <h1 class="font-semibold text-xl font-courier">Albums</h1>
    <% if current_user.admin? %>
      <%= render 'components/drawer', button_icon: 'fa-solid fa-plus', button_text: 'new album', title: 'New Album', id: 'new_album', button_class: 'rounded py-2 px-4 bg-black/95 dark:bg-gray-50 dark:text-black dark:  font-medium capitalize flex gap-2 items-center'  do %>
       <%= render 'form' %>
      <% end %>
    <% end %>
  </div>

  <div id="albums" class="min-w-full mt-10">
    <% @albums.each_with_index do |album, index| %>
      <div class="flex justify-between font-courier">
        <%= link_to album_path(album), class:"flex gap-4 items-center " do %>
          <%= (index + 1).to_s.rjust(2, '0') %>. <span class="font-semibold uppercase hover:underline"><%= album.title %></span>
        <% end %>
        <% if current_user.admin? %>
          <%= render 'components/dropdown', title: '', icon_class: 'fa-solid fa-ellipsis', items: album_dropdown_items(album) %>
        <% end %>
      </div>
      <% if index != (@albums.length - 1) %>
        <hr class="border border-black dark:border-gray-100 my-4" />
      <% end %>
    <% end %>
  </div>
</div>