<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'bg-center bg-cover bg-no-repeat min-h-screen', style: "background-image: url('#{image_path('background.png')}')" }) do |f| %>
  <div class="bg-black/90 min-h-screen w-full lg:grid lg:grid-cols-3 flex flex-col gap-5 lg:justify-center items-center  font-roboto font-light lg:pt-0 pt-20 text-white">

    <%= render 'shared/logo' %>

    <div class="flex flex-col gap-8 lg:border-l lg:border-gray-100 lg:py-5 py-10 lg:px-20 px-5 col-span-2 lg:ml-20 text-sm ">
      <h2 class="text-lg uppercase font-bold">Log in</h2>

      <div class="flex flex-col gap-1 lg:w-1/2">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", required: true, class: "bg-transparent" %>
      </div>

      <div class="flex flex-col gap-1 lg:w-1/2 relative">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "current-password", required: true, class: "bg-transparent", id: 'password' %>
        <i class="fa fa-eye-slash absolute right-4 bottom-3 text-gray-900 cursor-pointer" id="show-password"></i>
        <i class="fa fa-eye absolute absolute right-4 bottom-3  text-gray-900 cursor-pointer" id="hide-password" style="display: none"
        ></i>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center gap-2">
          <%= f.check_box :remember_me, class: 'h-6 w-6 bg-transparent' %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: 'px-4 py-2 bg-white  rounded font-semibold lg:w-1/2 w-full cursor-pointer text-black' %>
      </div>

      <%= render "devise/shared/links" %>
    </div>

<% end %>

<script>
  document.addEventListener("turbo:load", () => {
    const passwordField = document.getElementById("password");
    const showPassword = document.getElementById("show-password");
    const hidePassword = document.getElementById("hide-password");

    showPassword.addEventListener("click", () => {
      passwordField.type = "text";
      showPassword.style.display = "none";
      hidePassword.style.display = "block";
    });

    hidePassword.addEventListener("click", () => {
      passwordField.type = "password";
      showPassword.style.display = "block";
      hidePassword.style.display = "none";
    });

  })
</script>

