<div class="pt-10 px-12 min-h-screen">
  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'feedback', path: feedbacks_path },
    { text: "#{@feedback.subject}" },
  ] %>

  <div class="flex justify-between items-center">
    <h5 class="font-semibold font-courier uppercase text-md "><%= @feedback.subject %> </h5>
  </div>

  <hr class="border border-black dark:border-gray-100 my-2" />

  <div class="flex flex-col text-left mt-10 gap-3">
    <h5 class="font-courier capitalize text-md "><%= @feedback.user.name %> </h5>
    <h5 class="font-courier text-md "><%= @feedback.user.email %> </h5>
  </div>

  <div class="flex flex-col text-left mt-10 gap-3">
    <h5 class="font-courier capitalize text-md "><%= @feedback.message %> </h5>
  </div>
</div>