<div class="lg:pt-32 pt-24 pb-20 px-12 min-h-screen">
  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: 'feedback', path: feedbacks_path },
    { text: "#{@feedback.subject}" },
  ] %>

  <% if current_user.admin? %>

    <div class="flex flex-col text-left mt-10 gap-3">
      <h5 class="font-courier capitalize text-md "><%= @feedback.user.name %> | <span class="lowercase">@<%= @feedback.user.username %> | <%= @feedback.user.email %></span>  </h5>
    </div>

    <div class="flex justify-between items-center">
      <h5 class="font-semibold font-courier uppercase text-md "><%= @feedback.subject %> </h5>
    </div>

    <hr class="border border-black dark:border-gray-100 my-2" />

    <div class="flex flex-col text-left mt-10 gap-3">
      <h5 class="font-courier capitalize text-md "><%= @feedback.message %> </h5>
    </div>
  <% else %>
  <% end %>
</div>