<div class="min-h-screen">

  <div class="px-5 py-3">
    <%= render 'components/breadcrumb', breadcrumbs: [
      { text: 'home', path: root_path },
      { text: "Edit #{@attempt.quiz.title} predictions"}
    ] %>
    </div>


  <h5 class="font-semibold font-courier uppercase text-md px-5">
    <%= @quiz.title %>
    <% if @quiz.tour.status == 'open' %>
      <span> (closes at <%= @quiz.tour.quiz_live_time.in_time_zone(current_user.timezone).strftime('%I:%M %p') %>)
      </span>
    <% end %>
  </h5>

  <%= form_with(model: @attempt, url: attempt_path(@attempt), method: :patch, local: true) do |f| %>
    <% @quiz.questions.order(:era).all.group_by(&:era).each do |era, questions| %>
      <div class="mt-10 capitalize">
        <h1 class="<%= era_color(era) %> font-bold uppercase text-lg p-2 flex justify-center items-center"><%= era.humanize %></h1>
        <% questions.each_with_index do |question, q_index| %>
          <div class="flex flex-col px-5 py-3 ">
            <%= (q_index + 1).to_s.rjust(2, '0') %>. <%= question.content %> (worth <%= question.points %> points)
            <div class="grid <%= question&.choices&.first&.image&.attached? ? 'lg:grid-cols-6 grid-cols-2' : 'grid-cols-1' %> gap-4">
              <% question.choices.includes([image_attachment: :blob]).order(:position).each_with_index do |choice, c_index| %>
                <div class="choice py-3 flex flex-col gap-4">
                  <%= image_tag(choice.image, alt: "Option #{c_index + 1}", class: 'w-full h-72 object-cover object-center rounded') if choice.image.attached? %>
                  <div class="flex gap-2 items-center capitalize font-medium">
                  <%= f.fields_for :responses do |response_form| %>
                    <%= response_form.radio_button "#{question.id}", choice.id, required: true, checked: @attempt.responses.find_by(question_id: question.id)&.choice_id == choice.id %>
                    <%= choice.content %>
                  <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% if question.include_album_and_song %>
            <% mashup_answers = @attempt.responses.where(question_id: question.id).flat_map(&:mashup_answers) %>
            <% mashup_answers.each do |mashup| %>
              <div class="flex justify-between px-5 py-3">
                <p class="flex gap-2 items-center font-medium capitalize">
                  <%= mashup.album.abbr %> - <%= mashup.song.title %>
                </p>
                <%= link_to edit_mashup_answer_path(mashup) do %>
                  <i class="fa-solid fa-pencil px-4"></i>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="mt-10 flex justify-center">
      <%= f.submit "Update Responses", class: "dark:bg-black bg-gray-200 font-bold py-2 px-4 rounded w-3/4 mb-4 hover:bg-gray-900 cursor-pointer" %>
    </div>
  <% end %>
</div>
