<div class="pt-10 lg:px-12 px-5 min-h-screen">

  <%= render 'components/breadcrumb', breadcrumbs: [
    { text: 'home', path: root_path },
    { text: "attempts" },
  ]
  %>

  <div class="flex justify-between items-center">
    <h5 class="font-semibold font-courier uppercase text-md ">attempts (<%= @attempts.size %>) </h5>
  </div>

  <div class="flex flex-col mt-10">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="dark:bg-black/10 bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            position
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            Quiz
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider">
            score
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        <% @attempts.includes([:responses]).each_with_index do |attempt, index| %>
          <% quiz = attempt.quiz %>
          <% tour = quiz.tour %>
        <tr class="<%= tour.status == 'cancelled' ? 'bg-red-500 text-white': '' %>">
          <td class="px-6 py-4 whitespace-nowrap text-sm">
            <% if tour.status == 'closed' %>
              <%= attempt.final_position %> / <%= quiz.total_attempts %>
            <% elsif tour.status == 'cancelled' %>
            <% else %>
              <%= index + 1 %>
            <% end %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm capitalize hover:underline flex items-center gap-2">
            <%= link_to quiz.title, attempt_path(attempt)  %>
            <% if tour.status == 'closed' %>
              <% if (attempt.final_position <= 3) %>
                <%= image_tag attempt_badge(attempt.final_position), class: attempt_badge_class(attempt.final_position), title: "#{attempt.final_position}" %>
              <% end %>
            <% end %>
          </td>
          <td class="px-6 py-4 whitespace-nowrap text-sm">
             <% if tour.status == 'closed' || tour.status == 'live' %>
              <%= attempt.score %>
             <% elsif tour.status == 'cancelled' %>
             <% else %>
              <i class="fa-solid fa-spinner text-gray-600" title="in progress"></i>
             <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <div>

  <div class="flex justify-end mt-3 overflow-x-scroll">
    <%= will_paginate @attempts %>
  </div>

  <% unless @attempts.empty? %>
    <div class="flex flex-col lg:mt-20 mt-5 capitalize overflow-x-scroll">
        <div class="flex lg:flex-row flex-col justify-between">
          <h5 class="uppercase font-bold flex items-center gap-3">
            <i class="fa-solid fa-chart-pie"></i>
              attempts stats
          </h5>
          <div class="mt-4 mb-2 flex lg:flex-row flex-col lg:items-center lg:text-base text-sm">
            <%= form_tag(attempts_path , method: 'get', class: 'flex lg:flex-row flex-col lg:items-center gap-2', id: 'attemptsChartForm') do %>
              <%= select_tag 'chart_type', options_for_select(chart_types.map { |chart| [chart.humanize, chart] }, @chart_type), class: 'w-40 h-10 capitalize lg:text-base text-sm dark:bg-black bg-gray-50', id: 'attemptsChartTypeSelect'  %>
            <% end %>
          </div>
        </div>
        <hr class="my-1" />
        <div class="mt-10">
          <%= render_chart @attempts_stats, 'Attempts', 'No data', 'attempts', chart_type: 'column_chart', height: '600px'   %>
        </div>
    </div>
  <% end %>

</div>

<script>
  document.getElementById('attemptsChartTypeSelect').addEventListener('change', function() {
    document.getElementById('attemptsChartForm').submit();
  });
</script>