<% breadcrumbs = [
    { text: 'home', path: root_path }
  ]
%>

<% tour = @attempt.quiz.tour %>

<% if current_user.admin? %>
   <% breadcrumbs.insert(1, { text: "#{@attempt.quiz.title}", path: tour_path(@attempt.quiz.tour)}) %>
   <% breadcrumbs << { text: "#{@attempt.user.username} predictions"} %>
<% else %>
   <% { text: "#{@attempt.quiz.title} predictions"} %>
<% end %>


<div class="lg:pt-44 pt-24 pb-20 min-h-screen relative" data-controller="confetti" data-attempt-position="<%= @attempt.final_position %>" data-quiz-status="<%= @quiz.tour.status %>" data-size="full">
  <div class="p-5">
    <%= render 'components/breadcrumb', breadcrumbs: breadcrumbs %>
  </div>

  <div class="flex lg:flex-row flex-col gap-5 justify-between lg:items-center p-5">
    <h5 class="font-semibold font-courier uppercase text-md lg:mt-0 <%= @quiz.tour.status == 'live' || @quiz.tour.status == 'closed' ? 'mt-24' : 'mt-0' %>">
      <% if current_user != @attempt.user %>
        @<%= @attempt.user.username %>'s
      <% else %>
        your
      <% end %>
      <%= @quiz.title %> predicitions
      <% if @quiz.tour.status == 'open' %>
      <span> (closes <%= time_user_timezone(@quiz.tour&.quiz_live_time, current_user) %>)
      </span>
    <% end %>
    </h5>

    <% if current_user.id == @attempt.user.id %>
     <div class="flex items-center gap-4">
        <%= link_to share_attempt_path(@attempt), class:'flex items-center gap-2 text-sm px-4 py-2 bg-slate-100 dark:bg-white/10 capitalize rounded' do %>
          <i class="fa-solid fa-share"></i>
          <span>share</span>
        <% end %>
        <% if @quiz.tour == 'open' %>
          <%= link_to edit_attempt_path(@attempt), class:'flex items-center gap-2 text-sm px-4 py-2 bg-slate-100 dark:bg-white/10 capitalize rounded' do %>
            <i class="fa-solid fa-pencil"></i>
            <span>edit</span>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>


    <% if  tour.status == 'closed' %>
      <div class="absolute right-10 lg:top-24 top-20 font-handwriting">

          <% if (@attempt.final_position <= 3) %>
            <div class="absolute -top-2 z-10 -left-5">
              <%= image_tag attempt_badge(@attempt.final_position), class: 'w-16' %>
            </div>
          <% else %>
            <div class="bg-red-500 h-5 w-5 rounded-full absolute top-4 z-10 left-1"></div>
          <% end %>

          <div class="-rotate-3 bg-yellow-300 dark:bg-rose-300 shadow-lg p-5 w-44 h-36 m-4 rounded-lg flex flex-col gap-2 dark:text-black">
              <h2 class="text-xl underline tracking-wide font-bold mb-2 uppercase">results</h2>
              <span class="text-lg">POINTS: <%= @attempt.score %> / <%= @attempt.total_possible_points %> </span>
              <span class="text-lg"">POSITION: <%= @attempt.final_position %> / <%= @quiz.total_attempts %> </span>
          </div>
      </div>
    <% end %>

    <% if  tour.status == 'live' %>
      <div class="absolute right-10 lg:top-24 top-20 font-handwriting">
          <div class="bg-green-500 h-5 w-5 rounded-full absolute top-4 z-10 left-1 animate-ping"></div>
          <div class="sticky-note dark:bg-black bg-white p-5 w-44 h-44 m-4 rounded-lg flex flex-col gap-2">
              <h2 class="text-xl underline tracking-wide font-bold mb-2 uppercase">live progress</h2>
              <span class="text-lg">QNS: <%= @attempt.correct_attempt_questions %> / <%= @attempt.questions_with_correct_answers %> </span>
              <span class="text-lg">POINTS: <%= @attempt.score %> / <%= @attempt.total_possible_points %> </span>
              <span class="text-lg"">POSITION: <%= @attempt.position %> / <%= @attempt.quiz.total_attempts %> </span>
          </div>
      </div>
    <% end %>


    <% @questions_by_era.each do |era, responses| %>
      <h1 class="<%= era_color(era) %> font-bold uppercase text-lg p-2 flex justify-center items-center"><%= era.humanize %></h1>
      <div class="grid lg:grid-cols-3">
        <% responses.group_by { |response| response.question.id }.each_with_index do |(question_id, grouped_responses), index| %>
          <% response = grouped_responses.first %>
          <% choice = response&.choice %>
          <div class="flex flex-col lg:justify-start justify-center px-5 py-3 gap-2 capitalize">
            <div class="flex flex-col gap-3">
              <%= (index + 1).to_s.rjust(2, '0') %>. <%= response.question.content %> (worth <%= response.question.points %> points)
              <%= image_tag(choice&.image, alt: "#{choice&.content}", class: 'w-full lg:h-[30rem] object-cover object-center rounded', loading: 'lazy') if choice&.image&.attached? %>
              <p class="font-medium capitalize flex items-center lg:gap-4 gap-2">
                <% if choice&.correct %>
                  <i class="fa-solid fa-circle-check text-green-600"></i>
                <% end %>
                <%= choice&.content %>
                <% if choice&.correct %>
                  <span class="bg-green-600 text-white p-2 rounded text-xs flex items-center gap-2">
                   + <%= choice.question.points %>
                  </span>
                <% end %>
              </p>
            </div>

            <% correct_choice = response.question.choices.find_by(correct: true) %>
            <% if !choice&.correct && correct_choice.present? %>
              <p class="text-red-600 text-sm flex gap-3 items-center font-semibold capitalize">
                <i class="fa-solid fa-xmark"></i>
                <span> correct choice: <%= correct_choice.content %> </span>
              </p>
            <% end %>

            <% mashup_answers = grouped_responses.
            flat_map(&:mashup_answers) %>
            <% correct_mashups = response.question.mashup_answers.includes([:album, :song]).where(response_id: nil, correct: true) %>
            <% correct_albums = correct_mashups.pluck(:album_id) %>
            <% correct_songs = correct_mashups.pluck(:song_id) %>

            <% question_content = 'pick piano acoustic set album and song' %>
            <% piano_question = @attempt.quiz&.questions.find_by(content: question_content) %>
            <% piano_correct_mashups = piano_question.mashup_answers.where(response_id: nil, correct: true) %>
            <% piano_correct_albums = piano_correct_mashups.pluck(:album_id) %>
            <% piano_correct_songs = piano_correct_mashups.pluck(:song_id) %>
            <% piano_mashup_qn =  response.question.piano_mashup ? response.question : nil  %>
            <% if piano_mashup_qn %>
              <% piano_mashup_ans = response.choice.content %>
              <% @piano_points = mashup_max_score(piano_mashup_ans) %>
            <% end %>

            <% question_content = 'pick guitar acoustic set album and song' %>
            <% guitar_question = @attempt.quiz&.questions.find_by(content: question_content) %>
            <% guitar_correct_mashups = guitar_question.mashup_answers.where(response_id: nil, correct: true) %>
            <% guitar_correct_albums = guitar_correct_mashups.pluck(:album_id) %>
            <% guitar_correct_songs = guitar_correct_mashups.pluck(:song_id) %>
            <% guitar_mashup_qn =  response.question.guitar_mashup ? response.question : nil  %>
            <% if guitar_mashup_qn %>
              <% guitar_mashup_ans = response.choice.content %>
              <% @guitar_points = mashup_max_score(guitar_mashup_ans) %>
            <% end %>


            <% if mashup_answers.present? %>
              <div class="grid lg:grid-cols-1 gap-5">
                <div class="flex flex-col gap-3">
                  <% mashup_answers.each do |mashup| %>
                    <div class="flex items-center gap-4">
                      <p class="font-medium capitalize flex items-center gap-2">
                          <% if correct_albums.present? %>
                            <% if correct_albums.include?(mashup.album_id) %>
                              <i class="fa-solid fa-circle-check text-green-600"></i>
                            <% elsif (response.question.id != piano_question.id) &&piano_correct_albums.include?(mashup.album_id) %>
                              <i class="fa-solid fa-keyboard text-green-600"></i>
                            <% elsif (response.question.id != guitar_question.id) &&guitar_correct_albums.include?(mashup.album_id) %>
                              <i class="fa-solid fa-guitar text-green-600"></i>
                            <% else %>
                              <i class="fa-solid fa-xmark text-red-600"></i>
                            <% end %>
                          <% end %>
                        <%= mashup.album.abbr %>
                        - <%= mashup.song.title %>
                        <% if correct_songs.present? %>
                          <% if correct_songs.include?(mashup.song_id) %>
                            <i class="fa-solid fa-circle-check text-green-600"></i>
                          <% elsif (response.question.id != piano_question.id) &&piano_correct_songs.include?(mashup.song_id) %>
                            <i class="fa-solid fa-keyboard text-green-600"></i>
                          <% elsif (response.question.id != guitar_question.id) &&guitar_correct_songs.include?(mashup.song_id) %>
                              <i class="fa-solid fa-guitar text-green-600"></i>
                          <% else %>
                            <i class="fa-solid fa-xmark text-red-600"></i>
                          <% end %>
                        <% end %>
                      </p>

                      <!-- mashup points -->
                      <% if correct_albums.include?(mashup.album_id) && correct_songs.include?(mashup.song_id) %>
                        <span class="bg-green-600 text-white p-2 rounded text-xs flex items-center gap-2">
                         <% if response.question.id == guitar_question.id %>
                            + <%= format_score (@guitar_points * 2) %>
                         <% elsif response.question.id == piano_question.id %>
                            + <%= format_score (@piano_points * 2) %>
                         <% end %>
                        </span>
                      <% elsif (response.question.id != piano_question.id) &&piano_correct_albums.include?(mashup.album_id) && piano_correct_songs.include?(mashup.song_id)  %>
                        <span class="bg-green-600 text-white p-2 rounded text-xs flex items-center gap-2">
                          + <%= format_score (@guitar_points * 2) %>
                        </span>
                      <% elsif (response.question.id != guitar_question.id) &&guitar_correct_albums.include?(mashup.album_id) && guitar_correct_songs.include?(mashup.song_id)  %>
                        <span class="bg-green-600 text-white p-2 rounded text-xs flex items-center gap-2">
                          + <%= format_score (@piano_points * 2) %>
                        </span>
                      <% elsif correct_albums.include?(mashup.album_id) %>
                        <span class="bg-green-600 text-white p-2 rounded text-xs flex items-center gap-2">
                         <% if response.question.id == guitar_question.id %>
                            + <%= format_score (@guitar_points) %>
                         <% elsif response.question.id == piano_question.id %>
                            + <%= format_score (@piano_points) %>
                         <% end %>
                        </span>
                      <% elsif correct_songs.include?(mashup.song_id) %>
                        <span class="bg-green-600 text-white p-2 rounded text-xs flex items-center gap-2">
                         <% if response.question.id == guitar_question.id %>
                            + <%= format_score (@guitar_points) %>
                         <% elsif response.question.id == piano_question.id %>
                            + <%= format_score (@piano_points) %>
                         <% end %>
                        </span>
                      <% elsif (response.question.id != piano_question.id) &&piano_correct_albums.include?(mashup.album_id)  %>
                        <span class="bg-green-600 text-white p-2 rounded text-xs flex items-center gap-2">
                         + 1
                        </span>
                      <% elsif (response.question.id != guitar_question.id) &&guitar_correct_albums.include?(mashup.album_id)  %>
                        <span class="bg-green-600 text-white p-2 rounded text-xs flex items-center gap-2">
                         + 1
                        </span>
                      <% end %>
                    </div>

                  <% end %>
                </div>

                <% if correct_mashups.present?  %>
                  <p class="font-medium underline text-orange-500 capitalize"> correct surprise songs </p>

                  <div class="flex flex-col gap-3">
                    <% correct_mashups.each do |mashup| %>
                      <span class="dark:text-violet-200 text-violet-500 capitalize text-sm font-medium"> <%= mashup.album.abbr %> - <%= mashup.song.title %> </span>
                    <% end %>
                  </div>
                <% end %>

              </div>
            <% end %>

          </div>
        <% end %>
      </div>
    <% end %>
</div>

