<div class="min-h-screen relative">
   <div class="p-5">
    <%= render 'components/breadcrumb', breadcrumbs: [
      { text: 'home', path: root_path },
      { text: "#{@attempt.quiz.title} predictions"}
    ] %>
    </div>

  <div class="flex justify-between items-center p-5">
    <h5 class="font-semibold font-courier uppercase text-md ">your <%= @quiz.title %> predicitions </h5>
  </div>


  <% if  @attempt.quiz.tour.status == 'closed' %>
    <div class="absolute right-10 top-1 font-handwriting">
        <div class="bg-red-500 h-5 w-5 rounded-full absolute top-4 z-10 left-1"></div>
        <div class="sticky-note p-5 w-40 h-36 m-4 rounded-lg flex flex-col gap-2">
            <h2 class="text-xl underline tracking-wide font-bold mb-2 uppercase">results</h2>
            <span class="text-lg">POINTS: <%= @attempt.score %> / <%= @attempt.total_possible_points %> </span>
            <span class="text-lg"">POSITION: <%= @attempt.position %> / <%= @attempt.quiz.total_attempts %> </span>
        </div>
    </div>
  <% end %>


  <% @questions_by_era.each do |era, responses| %>
    <h1 class="<%= era_color(era) %> font-bold uppercase text-lg p-2 flex justify-center items-center"><%= era.humanize %></h1>
    <div class="grid lg:grid-cols-3">
      <% responses.each_with_index do |response, index| %>
        <div class="flex flex-col lg:justify-start justify-center px-5 py-3 gap-2">
          <div class="flex flex-col gap-3">
              <%= (index + 1).to_s.rjust(2, '0') %>. <%= response.question.content %> (worth <%= response.question.points %> points)
              <%= image_tag(response.choice.image, alt: "Option #{index + 1}", class: 'w-full h-[30rem] object-cover object-center rounded') if response.choice.image.attached? %>
              <p class="font-medium capitalize flex items-center gap-2">
                <% if response.choice.correct %>
                  <i class="fa-solid fa-circle-check text-green-600"></i>
                <% end %>
              <%= response.choice.content %>
              </p>
          </div>

          <% correct_choice = response.question.choices.find_by(correct: true) %>
          <% if !response.choice.correct && correct_choice.present? %>
            <p class="text-red-600 text-sm flex gap-3 items-center font-semibold capitalize">
              <i class="fa-solid fa-xmark"></i>
              <span> correct choice: <%= correct_choice.content %> </span>
            </p>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>