<!DOCTYPE html>
<html>
  <head>
    <title>Swiftball</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="make your eras tour predictions" />
    <meta name="keywords" content="swiftball, eras tour, eras, taylor swift, taylor, swift, swift ball, ballswift, swftball, swifball, swiftbal, swiftbol, swiftboll, Swiftball, online swiftball, swiftball online, swiftball website">
    <meta name="application-name" content="swiftball">
    <meta name="generator" content="swiftball">
    <meta name="rating" content="general">
    <meta name="subject" content="swift ball">
    <meta name="copyright" content="swiftball">
    <meta name="language" content="English">
    <meta name="designer" content="swiftball">
    <meta name="reply-to" content="[email protected]">
    <meta name="author" content="swiftball">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="revisit-after" content="7 days"></meta>
    <meta name="distribution" content="global"></meta>
    <meta name="rating" content="general"></meta>
    <meta name="referrer" content="no-referrer-when-downgrade"/>

    <meta property="og:title" content="swiftball">
    <meta property="og:description" content="">
    <meta property="og:url" content="https://www.swiftball.online">
    <meta property="og:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1717085463/swiftball_re7lrk.png">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="swiftball">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@swiftball">
    <meta name="twitter:creator" content="@swiftball">
    <meta name="twitter:title" content="swiftball">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://res.cloudinary.com/dlahz5ciz/image/upload/v1717085463/swiftball_re7lrk.png">

    <link rel="manifest" href="/manifest.json">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body>
    <% if current_user %>
     <%= render 'layouts/navbar' %>
    <% end %>
    <main class="bg-gray-50 relative">
      <% unless flash.empty? %>
        <div id="flash" class="text-white  absolute top-0 lg:right-40 z-50 lg:w-[50%] w-full shadow-lg rounded">
          <% flash.keys.each do |k| %>
            <div class="sm:px-20 px-3 py-6 flex justify-center items-center gap-4 border-l-4 text-sm relative <%= notification_class(k) %>">
              <i class="<%= notification_icon(k) %> text-xl"></i>
              <%= flash[k] %>
              <div class="cursor-pointer" onclick="document.getElementById('flash').classList.add('hidden')">
                <i class="fa-solid fa-square-xmark text-xl"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </main>

    <script>
    document.addEventListener("turbo:load", () => {
      const flash = document.getElementById('flash');

      function closeFlash() {
        const flash = document.getElementById('flash');
        if (flash) {
          flash.classList.add('hidden');
        }
      }
    });
    </script>
  </body>
</html>
