<!DOCTYPE html>
<html>
  <head>
    <title>Swiftball</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Keep record of your swiftball answers & score." />
    <meta name="keywords" content="swiftball, swiftball link, swiftball game, swiftball meaning, swiftball results, swiftball 2024, swiftball app, swiftball google form, what is swiftball, where to play swiftball, what is swiftball taylor swift, taylor swiftball, taylor swift swiftball, fantasy swiftball, swift alert, allie fantasy swiftball, snowglobe allie, eras tour, eras, taylor swift, taylor, swift, swift ball, ballswift, swftball, swifball, swiftbal, swiftbol, swiftboll, Swiftball, online swiftball, swiftball online, swiftball website taylor swiftball app, swiftball form, swiftball ballot">
    <meta name="application-name" content="swiftball">
    <meta name="generator" content="swiftball, swift ball">
    <meta name="rating" content="general">
    <meta name="subject" content="swiftball, swift ball">
    <meta name="copyright" content="swiftball">
    <meta name="language" content="English">
    <meta name="designer" content="swiftball">
    <meta name="reply-to" content="[email protected]">
    <meta name="author" content="swiftball">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="google" content="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="revisit-after" content="7 days"></meta>
    <meta name="distribution" content="global"></meta>
    <meta name="rating" content="general"></meta>
    <meta name="referrer" content="no-referrer-when-downgrade"/>
    <meta name="next-head-count" content="18">
    <meta name="theme-color" content="#f2f2f2">

    <meta property="og:title" content="swiftball">
    <meta property="og:description" content="Keep record of your swiftball answers & score.">
    <meta property="og:url" content="https://www.swiftball.online">
    <meta property="og:image" content="https://swiftball.online/swiftball.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="swiftball">
    <meta property="og:locale" content="en_US">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@swiftball">
    <meta name="twitter:creator" content="@swiftball">
    <meta name="twitter:title" content="swiftball">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://swiftball.online/swiftball.jpg">

    <meta name="google-site-verification" content="o7k1ofySYtox3sXmZV3NPITuGzflpXGECyrqhpOuRm0" />
    <meta name="vapid-public-key" content="<%= ENV.fetch('VAPID_PUBLIC_KEY') %>">

    <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="dark:text-white">
    <% if current_user %>
     <%= render 'layouts/navbar' %>
    <% end %>
    <main class="bg-gray-50 dark:bg-black/95  dark: relative">
      <% unless flash.empty? %>
        <div id="flash" class="  absolute top-0 lg:right-40 z-50 lg:w-[50%] w-full shadow-lg rounded">
          <% flash.keys.each do |k| %>
            <div class="sm:px-20 px-3 py-6 flex justify-center items-center gap-4 border-l-4 text-sm relative <%= notification_class(k) %>">
              <i class="<%= notification_icon(k) %> text-xl"></i>
              <div id="progress-bar" class="h-1 absolute bottom-0 left-0 <%= progress_bar_background(k)%>"></div>
              <%= flash[k] %>
              <div class="cursor-pointer" onclick="document.getElementById('flash').classList.add('hidden')">
                <i class="fa-solid fa-square-xmark text-xl"></i>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <div data-controller="install-prompt">
        <button
          data-action="install-prompt#install"
          data-install-prompt-target="button"
          style="display: none;"
          class="<%= current_user.present? ? 'dark:bg-black bg-gray-200 hover:bg-gray-100 hover:' : 'bg-gray-100 hover:bg-gray-300' %>  px-5 py-2 rounded shadow absolute top-2 right-2 capitalize flex items-center gap-2"
          >
          <i class="fa-solid fa-mobile-screen-button"></i>
          Install App
        </button>
      </div>
      <%= yield %>
    </main>


    <script>
      document.addEventListener("turbo:load", () => {
        const flash = document.getElementById('flash');
        const progressBar = document.getElementById('progress-bar');
        let progress = 100;
        let intervalId;

        if (flash) {
          intervalId = setInterval(() => {
            progress -= 1;
            progressBar.style.width = `${progress}%`;

            if (progress <= 0) {
              clearInterval(intervalId);
              flash.classList.add('hidden');
            }
          }, 50);
        }

        function closeFlash() {
          const flash = document.getElementById('flash');
          if (flash) {
            flash.classList.add('hidden');
          }
        }
      });
    </script>
  </body>
</html>
